
body {
  font-family: 'Source Sans Pro', sans-serif;
}

body> .container {
  padding: 70px 15px 0;
}

h2 {
  color: #febe10;
}

h3 {
  color: black;
}

h4 {
  color: white;
  text-align: center;
  font-size: 20px;
}

h5 {
  color: #00b7f1;
}

p {
  font-weight: 300;
  font-size: 18px;
}

hr {
  background-color: #323e48;
  color: #323e48;
  border: #323e48;
  width: 50px;
  height: 3px;
}

.alt-font {
  font-family: 'Lora', serif;
  font-weight: bold;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background-color: #febe10;
  padding: 3px 20px 3px 20px;
}

.navbar-nav>li>a {
  padding-top: 25px;
}

.navbar, .navbar-header {
  background-color: #00b7f1;
  min-height: 70px;
  border-bottom: 1px solid #aeb5be;
}

.navbar-inverse .navbar-nav>li>a{
  color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: black;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: black;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
  padding-top: 15px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse {
  border: none;
}

.caps-title {
  text-transform: uppercase;
  font-weight: bold;
}

.services {
  padding: 50px 125px 50px 125px;
  border-bottom: 1.8px solid #aeb5be;
}

.services-p {
  font-size: 16px;
}

.grey-back-color{
  background-color: #f1f3f6;
}

.orange-back-color{
  background-color: #d4631c;
}

label {
  color: white;
  font-size: 16px;
}

.large-font {
  font-size: 20px;
}

.fancy-border {
  border: 1px solid #f78546;
  border-radius: 15px;
  padding-bottom: 20px;
}

.cutout {
  margin-top: -12px;
  z-index: -1;
  background-color: #d4631c;
}

footer {
  font-family: 'Lora', serif;
  background-color: #323e48;
  color: #aeb5be;
}

.footer-nav {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

.footer-nav a {
  color: #aeb5be;
}

.footer-nav a:hover {
  color: white;
  text-decoration: none;
}

/***** MEDIA *****/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .services {
    padding: 20px 50px 20px 50px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .navbar-collapse{
    background: #d4631c;
  }
  .navbar-collapse li {
    text-align: right;
    border-bottom: 1px solid #f78546;
  }
  .navbar-collapse li a {
    text-align: right;
    padding: 5px;
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar, .navbar-header {
    border-bottom: 0;
  }
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #febe10;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav>li>a:hover{
    color: #febe10;
  }
  .services {
    padding: 20px 50px 20px 50px;
  }
  .footer-brand {
    float: none;
    text-align: center;
    margin-top: 30px;
  }
  .footer-nav {
    float: none;
    text-align: center;
    margin-top: -75px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  h3 {
    font-size: 22px;
  }
}

