/* add custom styles */

/*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Lora', serif;*/


body {
  padding-top: 70px;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: #febe10;
}

h3 {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: black;
}

h5 {
  color: #00b7f1;
}

p {
  font-weight: 300;
  font-size: 18px;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background-color: #febe10;
  padding: 3px 20px 3px 20px;
}

.navbar, .navbar-header {
  background-color: #00b7f1;
  min-height: 70px;
  border-bottom: 1px solid #aeb5be;
}

.navbar-inverse .navbar-nav>li>a{
  color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: black;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: black;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
  padding-top: 15px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse {
  border: none;
}

.caps-title {
  text-transform: uppercase;
  font-weight: bold;
}

.services {
  padding: 50px 250px 50px 250px;
  border-bottom: 1.8px solid #aeb5be;
}

.services-p {
  font-size: 16px;
}

.back-color{
  background-color: #f1f3f6;
}

/***** MEDIA *****/

@media (min-width: 768px){
  .navbar-nav>li>a {
    padding-top: 25px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .services {
    padding: 20px 50px 20px 50px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar-collapse{
    background: #d4631c;
  }
  .navbar-collapse li {
    text-align: right;
    border-bottom: 1px solid #f78546;
  }
  .navbar-collapse li a {
    text-align: right;
    padding: 5px;
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar, .navbar-header {
    border-bottom: 0;
  }
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #febe10;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav>li>a:hover{
    color: #febe10;
  }
  .services {
    padding: 20px 50px 20px 50px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

